@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
/******************************************************************************************/
/* Core CSS
/******************************************************************************************/
/******************************************************************************************/
/* HTML5 Reset
/******************************************************************************************/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  border: 0;
  margin: 0;
  padding: 0;
}
/******************************************************************************************/
/* Consistency Fixes
/******************************************************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-font-smoothing: antialiased;
}
body {
  min-height: 100%;
  -webkit-tap-highlight-color: #eff8f7;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
embed,
object,
video {
  max-width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.ie8 img {
  width: auto;
}
img::selection,
img::-moz-selection,
::selection,
::-moz-selection {
  color: #fff;
  background: #559808;
}
/******************************************************************************************/
/* Variables
/******************************************************************************************/
/******************************************************************************************/
/* Mixins
/******************************************************************************************/
.hidden {
  display: none;
}
/******************************************************************************************/
/* Semantic Grid System
/******************************************************************************************/
/******************************************************************************************/
/* Grid Variables
/******************************************************************************************/
/******************************************************************************************/
/* General Styles
/******************************************************************************************/
* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #ffffff;
  color: #333333;
  z-index: 0;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #bb3333;
  text-decoration: none;
}
.ie7 a:hover {
  cursor: pointer;
}
p {
  margin: 20px 0 0 0;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin: 0;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #bb3333;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}
/******************************************************************************************/
/* Global Styles
/******************************************************************************************/
#container {
  max-width: 980px;
  padding: 10px 5px 0;
  margin: 0 auto;
}
.page {
  background: white;
  *zoom: 1;
  padding: 20px 0;
}
.page:before,
.page:after {
  content: "";
  display: table;
}
.page:after {
  clear: both;
}
.inner {
  max-width: 980px;
  margin: 0 auto;
  *zoom: 1;
  padding: 0 10px;
}
.inner:before,
.inner:after {
  content: "";
  display: table;
}
.inner:after {
  clear: both;
}
.inner.lost {
  padding-top: 40px;
}
.lost-list {
  margin: 20px 0 40px;
  font-size: 16px;
  padding-left: 20px;
}
.lost-list li {
  margin-bottom: 5px;
}
.lost-list li a {
  font-weight: bold;
}
.breadcrumbs {
  background: #ffffff;
  border-bottom: solid 2px #333333;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  background: transparent;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1000;
}
.overlay img {
  position: absolute;
  width: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  -webkit-filter: blur(5px);
}
.overlay .menu {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 2.5% 5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay .menu a {
  position: relative;
  width: 20%;
  height: 100px;
  float: left;
  margin-bottom: 80px;
  text-align: center;
  -webkit-transition: zoom 0.1s ease;
  -moz-transition: zoom 0.1s ease;
  -ms-transition: zoom 0.1s ease;
  -o-transition: zoom 0.1s ease;
  transition: zoom 0.1s ease;
}
.overlay .menu a i {
  border-radius: 20px;
  background-color: #bcbcbc;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.overlay .menu a:hover i {
  zoom: 1.2;
  background-color: #bb3333;
  -webkit-box-shadow: 0 0 30px #808080;
  -moz-box-shadow: 0 0 30px #808080;
  box-shadow: 0 0 30px #808080;
}
/******************************************************************************************/
/* Admin Bar
/******************************************************************************************/
.admin-bar {
  display: block;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  background: #ffffff;
  border-bottom: solid 2px #333333;
}
.admin-bar:before,
.admin-bar:after {
  content: "";
  display: table;
}
.admin-bar:after {
  clear: both;
}
.admin-bar > * {
  float: left;
  line-height: 30px;
}
.admin-bar > a {
  color: white;
}
.admin-bar > a:not(.gcon) {
  line-height: 30px;
  padding: 0 10px;
  background: #333333;
  color: white;
}
.admin-bar > a:not(:first-child) {
  border-left: solid 1px #ffffff;
  margin-right: 0 !important;
  background-color: #333333;
}
.admin-bar a.chat span {
  float: right;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: red;
  color: white;
  font-size: 9px;
  line-height: 12px;
  margin: 2px;
  text-align: center;
}
.admin-bar a.edit,
.admin-bar a.add-file {
  width: 90px !Important;
}
.admin-bar .logout,
.admin-bar #search {
  float: right;
}
.admin-bar .logout a,
.admin-bar #search a {
  margin-right: 0 !important;
}
.admin-bar #search input {
  width: 0;
  padding: 0;
  border: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 30px;
  line-height: 30px;
}
.admin-bar #search input.open {
  width: 250px;
  padding: 0 10px;
}
/******************************************************************************************/
/* Header
/******************************************************************************************/
header {
  position: relative;
  padding-bottom: 10px;
  background: white;
  *zoom: 1;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header .logo-container {
  float: left;
  width: 520px;
  *zoom: 1;
}
header .logo-container:before,
header .logo-container:after {
  content: "";
  display: table;
}
header .logo-container:after {
  clear: both;
}
header .logo-container .logo {
  float: left;
}
header .logo-container .logo img {
  float: left;
  margin-right: 10px;
}
header .logo-container .logo h1 {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 69px;
  font-size: 160%;
}
header .logo-container .trade {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  margin: 12px 0 12px 10px;
}
header .login-container {
  float: right;
  width: 320px;
}
header .login-container .my-basket {
  *zoom: 1;
  max-width: 300px;
  float: right;
}
header .login-container .my-basket:before,
header .login-container .my-basket:after {
  content: "";
  display: table;
}
header .login-container .my-basket:after {
  clear: both;
}
header .login-container .my-basket .basket {
  float: left;
  margin-right: 20px;
}
header .login-container .my-basket .item-count {
  float: right;
}
header .login-container .login {
  *zoom: 1;
  float: right;
  line-height: 30px;
  min-width: 417px;
  margin-top: 20px;
}
header .login-container .login:before,
header .login-container .login:after {
  content: "";
  display: table;
}
header .login-container .login:after {
  clear: both;
}
header .login-container .login h2 {
  float: left;
  font-size: 12px;
  margin-right: 10px;
}
header .login-container .login form {
  *zoom: 1;
}
header .login-container .login form:before,
header .login-container .login form:after {
  content: "";
  display: table;
}
header .login-container .login form:after {
  clear: both;
}
header .login-container .login .input-col {
  float: left;
}
header .login-container .login .input-col input,
header .login-container .login .input-col button {
  width: 160px;
  padding: 0 10px;
  line-height: 30px;
  display: block;
  margin-right: 10px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
header .login-container .login .input-col button {
  width: 30px;
  padding: 0;
}
header .login-container .login .input-col small a {
  font-size: 11px;
}
header .login-container .login .input-col.submit-col {
  width: 30px;
  white-space: nowrap;
  text-align: right;
}
header .login-container .login .input-col.submit-col small {
  text-align: right;
  float: right;
}
header .login-container .login .payment-methods {
  float: right;
}
/******************************************************************************************/
/* Navigation
/******************************************************************************************/
nav#main_nav {
  display: block;
  background: #333333;
  margin-bottom: 10px;
}
nav#main_nav ul.navigation {
  *zoom: 1;
  list-style: none;
}
nav#main_nav ul.navigation:before,
nav#main_nav ul.navigation:after {
  content: "";
  display: table;
}
nav#main_nav ul.navigation:after {
  clear: both;
}
nav#main_nav ul.navigation li {
  float: left;
  position: relative;
  width: 10%;
  border-right: solid 1px #555;
  border-left: solid 1px #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
nav#main_nav ul.navigation li:last-child {
  border-right: none;
}
nav#main_nav ul.navigation li:first-child {
  border-left: none;
}
nav#main_nav ul.navigation li a {
  display: block;
  color: white;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
nav#main_nav ul.navigation li .subnav {
  position: absolute;
  left: -1px;
  top: 100%;
  display: none;
  min-width: 170px;
  width: auto;
  border-top: solid 2px #e178a0;
  padding-right: 10px;
  background: #333333;
  *zoom: 1;
}
nav#main_nav ul.navigation li .subnav:before,
nav#main_nav ul.navigation li .subnav:after {
  content: "";
  display: table;
}
nav#main_nav ul.navigation li .subnav:after {
  clear: both;
}
nav#main_nav ul.navigation li .subnav ul {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 170px;
  padding: 10px 0 10px 10px;
}
nav#main_nav ul.navigation li .subnav ul:before,
nav#main_nav ul.navigation li .subnav ul:after {
  content: "";
  display: table;
}
nav#main_nav ul.navigation li .subnav ul:after {
  clear: both;
}
nav#main_nav ul.navigation li .subnav ul li {
  border: none;
  float: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px #999;
}
nav#main_nav ul.navigation li .subnav ul li a {
  text-align: left;
  display: block;
  line-height: 25px;
}
nav#main_nav ul.navigation li .subnav ul li a:hover {
  background: #111;
}
nav#main_nav ul.navigation li .subnav ul li:last-child {
  border-bottom: none;
}
nav#main_nav ul.navigation li:hover .subnav {
  display: block;
}
/******************************************************************************************/
/* Search Bar
/******************************************************************************************/
.search-container {
  display: block;
  background: #EEE;
  border: solid 1px #999;
  line-height: 30px;
  padding: 5px;
  *zoom: 1;
}
.search-container:before,
.search-container:after {
  content: "";
  display: table;
}
.search-container:after {
  clear: both;
}
.search-container .info-link {
  float: left;
}
.search-container #product_search {
  float: right;
}
.search-container #product_search .input-col {
  float: left;
}
.search-container #product_search .input-col:first-child {
  margin-right: 10px;
}
.search-container #product_search input,
.search-container #product_search select {
  -webkit-display: none;
  float: left;
  height: 30px;
  line-height: 30px;
  border: solid 1px #999;
  border-radius: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  font-size: 11px;
  padding: 0 5px;
  background-color: white;
  outline: none;
}
.search-container #product_search input {
  border-right: none;
}
.search-container #product_search button {
  float: left;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: #333333;
}
/******************************************************************************************/
/* Hero
/******************************************************************************************/
#hero {
  display: block;
  border-bottom: solid 5px #333333;
  text-align: center;
  color: #333333;
  position: relative;
}
#hero img {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  max-width: 100%;
}
#hero img:first-child {
  display: block;
}
/******************************************************************************************/
/* Page
/******************************************************************************************/
.page {
  display: block;
  *zoom: 1;
}
.page:before,
.page:after {
  content: "";
  display: table;
}
.page:after {
  clear: both;
}
.page .sidebar-left {
  float: left;
  width: 150px;
}
.page .sidebar-left .sidebar-widget {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  border: solid 1px #333333;
}
.page .sidebar-left .sidebar-widget h5 {
  font-size: 110%;
  font-weight: bold;
  line-height: 30px;
  color: white;
  background: #333333;
}
.page .sidebar-left .sidebar-widget.promo img {
  width: 100%;
  display: block;
  height: auto;
}
.page .sidebar-left .sidebar-widget form {
  padding: 10px;
}
.page .sidebar-left .sidebar-widget form input {
  display: block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
  width: auto;
  border: solid 1px #999;
  outline: none;
}
.page .sidebar-left .sidebar-widget form button {
  margin: 5px auto 0;
  display: block;
}
.page .content {
  float: left;
  width: 820px;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.page .content .hero-container {
  display: block;
  height: 250px;
  border: solid 1px #999;
  margin-bottom: 20px;
}
.page .content .homepage-grid {
  display: block;
  list-style: none;
}
.page .content .homepage-grid li {
  float: left;
  width: 33.333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}
.page .content .homepage-grid li div {
  display: block;
}
.page .content .homepage-grid li div img {
  display: block;
  width: 100%;
  height: auto;
}
/******************************************************************************************/
/* Footer
/******************************************************************************************/
footer {
  border-top: solid 2px #999;
  padding-top: 10px;
}
footer .social-links {
  list-style: none;
  *zoom: 1;
}
footer .social-links:before,
footer .social-links:after {
  content: "";
  display: table;
}
footer .social-links:after {
  clear: both;
}
footer .social-links li {
  float: left;
  width: 14.285%;
  text-align: center;
  line-height: 60px;
}
footer .footer-links {
  display: block;
  background: #333333;
  *zoom: 1;
}
footer .footer-links:before,
footer .footer-links:after {
  content: "";
  display: table;
}
footer .footer-links:after {
  clear: both;
}
footer .footer-links ul {
  float: left;
  list-style: none;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
footer .footer-links ul li a {
  font-size: 12px;
  color: white;
}
footer .footer-info {
  margin-top: 20px;
  *zoom: 1;
}
footer .footer-info:before,
footer .footer-info:after {
  content: "";
  display: table;
}
footer .footer-info:after {
  clear: both;
}
footer .footer-info > * {
  float: left;
}
footer .footer-info address {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  padding: 0 10px;
}
footer .footer-info .secure {
  float: right;
  text-align: right;
}
/******************************************************************************************/
/* Icons CSS
/******************************************************************************************/
/******************************************************************************************/
/* G-Cons Icon Styles
/******************************************************************************************/
.gcon {
  width: 32px;
  height: 32px;
  display: inline-block;
  *display: inline;
  float: left;
  *zoom: 1;
}
.gcon:before,
.gcon:after {
  content: "";
  display: table;
}
.gcon:after {
  clear: both;
}
.gcon:before {
  background: url(../images/icons/gcons.png) no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
  position: relative;
  z-index: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.gcon.save:before {
  background-position: 0px 0px;
}
.gcon.pin:before {
  background-position: -32px 0px;
}
.gcon.screen:before {
  background-position: -64px 0px;
}
.gcon.mouse:before {
  background-position: -96px 0px;
}
.gcon.edit:before {
  background-position: -128px 0px;
}
.gcon.chat:before {
  background-position: -160px 0px;
}
.gcon.settings:before {
  background-position: -192px 0px;
}
.gcon.print:before {
  background-position: -224px 0px;
}
.gcon.flag:before {
  background-position: -256px 0px;
}
.gcon.search:before {
  background-position: -288px 0px;
}
.gcon.user:before {
  background-position: 0px -32px;
}
.gcon.database:before {
  background-position: -32px -32px;
}
.gcon.headphones:before {
  background-position: -64px -32px;
}
.gcon.cogs:before {
  background-position: -96px -32px;
}
.gcon.cogs-alt:before {
  background-position: -128px -32px;
}
.gcon.email:before {
  background-position: -160px -32px;
}
.gcon.briefcase:before {
  background-position: -192px -32px;
}
.gcon.delete-file:before {
  background-position: -224px -32px;
}
.gcon.next-file:before {
  background-position: -256px -32px;
}
.gcon.group:before {
  background-position: -288px -32px;
}
.gcon.fire:before {
  background-position: 0px -64px;
}
.gcon.lamp:before {
  background-position: -32px -64px;
}
.gcon.male:before {
  background-position: -64px -64px;
}
.gcon.female:before {
  background-position: -96px -64px;
}
.gcon.network-pc:before {
  background-position: -128px -64px;
}
.gcon.wifi:before {
  background-position: -160px -64px;
}
.gcon.lookup:before {
  background-position: -192px -64px;
}
.gcon.usb:before {
  background-position: -224px -64px;
}
.gcon.copy-file:before {
  background-position: -256px -64px;
}
.gcon.add-file:before {
  background-position: -288px -64px;
}
.gcon.rss:before {
  background-position: 0px -96px;
}
.gcon.pie:before {
  background-position: -32px -96px;
}
.gcon.chat-alt:before {
  background-position: -64px -96px;
}
.gcon.smiley:before {
  background-position: -96px -96px;
}
.gcon.music:before {
  background-position: -128px -96px;
}
.gcon.bar-chart:before {
  background-position: -160px -96px;
}
.gcon.woman:before {
  background-position: -192px -96px;
}
.gcon.first-aid:before {
  background-position: -224px -96px;
}
.gcon.ipod:before {
  background-position: -256px -96px;
}
.gcon.fan:before {
  background-position: -288px -96px;
}
.gcon.computer:before {
  background-position: 0px -128px;
}
.gcon.bin:before {
  background-position: -32px -128px;
}
.gcon.bin-empty:before {
  background-position: -64px -128px;
}
.gcon.radar:before {
  background-position: -96px -128px;
}
.gcon.tree:before {
  background-position: -128px -128px;
}
.gcon.network:before {
  background-position: -160px -128px;
}
.gcon.fullscreen:before {
  background-position: -192px -128px;
}
.gcon.calc:before {
  background-position: -224px -128px;
}
.gcon.phone:before {
  background-position: -256px -128px;
}
.gcon.home:before {
  background-position: -288px -128px;
}
.gcon.fancy-globe:before {
  background-position: 0px -160px;
}
.gcon.bookmark:before {
  background-position: -32px -160px;
}
.gcon.battery:before {
  background-position: -64px -160px;
}
.gcon.paperclip:before {
  background-position: -96px -160px;
}
.gcon.mobile:before {
  background-position: -128px -160px;
}
.gcon.container:before {
  background-position: -160px -160px;
}
.gcon.wire-globe:before {
  background-position: -192px -160px;
}
.gcon.unlock:before {
  background-position: -224px -160px;
}
.gcon.lock:before {
  background-position: -256px -160px;
}
.gcon.arrow-circle:before {
  background-position: -288px -160px;
}
.gcon.plane:before {
  background-position: 0px -192px;
}
.gcon.van:before {
  background-position: -32px -192px;
}
.gcon.star:before {
  background-position: -64px -192px;
}
.gcon.id:before {
  background-position: -96px -192px;
}
.gcon.connected:before {
  background-position: -128px -192px;
}
.gcon.cassette:before {
  background-position: -160px -192px;
}
.gcon.heart:before {
  background-position: -192px -192px;
}
.gcon.cloud-fill:before {
  background-position: -224px -192px;
}
.gcon.cloud-outline:before {
  background-position: -256px -192px;
}
.gcon.boat:before {
  background-position: -288px -192px;
}
.gcon.connections:before {
  background-position: 0px -224px;
}
.gcon.beaker:before {
  background-position: -32px -224px;
}
.gcon.reload:before {
  background-position: -64px -224px;
}
.gcon.dollar:before {
  background-position: -96px -224px;
}
.gcon.calendar:before {
  background-position: -128px -224px;
}
.gcon.microphone:before {
  background-position: -160px -224px;
}
.gcon.leaves:before {
  background-position: -192px -224px;
}
.gcon.umbrella:before {
  background-position: -224px -224px;
}
.gcon.globe:before {
  background-position: -256px -224px;
}
.gcon.world:before {
  background-position: -288px -224px;
}
.gcon.addressbook:before {
  background-position: 0px -256px;
}
.gcon.scissors:before {
  background-position: -32px -256px;
}
.gcon.disc:before {
  background-position: -64px -256px;
}
.gcon.link:before {
  background-position: -96px -256px;
}
.gcon.tag:before {
  background-position: -128px -256px;
}
.gcon.iphone:before {
  background-position: -160px -256px;
}
.gcon.download:before {
  background-position: -192px -256px;
}
.gcon.server:before {
  background-position: -224px -256px;
}
.gcon.power:before {
  background-position: -256px -256px;
}
.gcon.ribbon:before {
  background-position: -288px -256px;
}
.gcon.flower:before {
  background-position: 0px -288px;
}
.gcon.wrench:before {
  background-position: -32px -288px;
}
.gcon.apple:before {
  background-position: -64px -288px;
}
.gcon.shield:before {
  background-position: -96px -288px;
}
.gcon.spark:before {
  background-position: -128px -288px;
}
.gcon.balance:before {
  background-position: -160px -288px;
}
.gcon.bird:before {
  background-position: -192px -288px;
}
.gcon.oil:before {
  background-position: -224px -288px;
}
.gcon.bars:before {
  background-position: -256px -288px;
}
.gcon.glasses:before {
  background-position: -288px -288px;
}
/******************************************************************************************/
/* G-Cons Icon Styles
/******************************************************************************************/
.fcon {
  width: 80px;
  height: 80px;
  padding: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.fcon:after {
  content: '';
  background: url(../images/icons/fcons.png) no-repeat;
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.fcon.lock:after {
  background-position: 0px 0px;
}
.fcon.robot:after {
  background-position: -80px 0px;
}
.fcon.diamond:after {
  background-position: -160px 0px;
}
.fcon.brush:after {
  background-position: -240px 0px;
}
.fcon.screen:after {
  background-position: -320px 0px;
}
.fcon.gift:after {
  background-position: -400px 0px;
}
.fcon.bolt:after {
  background-position: -480px 0px;
}
.fcon.ribbon:after {
  background-position: -560px 0px;
}
.fcon.coffee:after {
  background-position: 0px -80px;
}
.fcon.rocket:after {
  background-position: -80px -80px;
}
.fcon.microphone:after {
  background-position: -160px -80px;
}
.fcon.save:after {
  background-position: -240px -80px;
}
.fcon.briefcase:after {
  background-position: -320px -80px;
}
.fcon.graph:after {
  background-position: -400px -80px;
}
.fcon.date:after {
  background-position: -480px -80px;
}
.fcon.user:after {
  background-position: -560px -80px;
}
.fcon.ufo:after {
  background-position: 0px -160px;
}
.fcon.movie:after {
  background-position: -80px -160px;
}
.fcon.home:after {
  background-position: -160px -160px;
}
.fcon.chat:after {
  background-position: -240px -160px;
}
.fcon.message:after {
  background-position: -320px -160px;
}
.fcon.clock:after {
  background-position: -400px -160px;
}
.fcon.iphone:after {
  background-position: -480px -160px;
}
.fcon.pencil:after {
  background-position: -560px -160px;
}
.fcon.skull:after {
  background-position: 0px -240px;
}
.fcon.thumbs-down:after {
  background-position: -80px -240px;
}
.fcon.heart:after {
  background-position: -160px -240px;
}
.fcon.switch:after {
  background-position: -240px -240px;
}
.fcon.folder:after {
  background-position: -320px -240px;
}
.fcon.search:after {
  background-position: -400px -240px;
}
.fcon.envelope:after {
  background-position: -480px -240px;
}
.fcon.flag:after {
  background-position: -560px -240px;
}
.fcon.crown:after {
  background-position: 0px -320px;
}
.fcon.application:after {
  background-position: -80px -320px;
}
.fcon.picture:after {
  background-position: -160px -320px;
}
.fcon.camera:after {
  background-position: -240px -320px;
}
.fcon.pin:after {
  background-position: -320px -320px;
}
.fcon.storm:after {
  background-position: -400px -320px;
}
.fcon.page:after {
  background-position: -480px -320px;
}
.fcon.dribbble:after {
  background-position: -560px -320px;
}
.fcon.bin:after {
  background-position: 0px -400px;
}
.fcon.cog:after {
  background-position: -80px -400px;
}
.fcon.thumbs-up:after {
  background-position: -160px -400px;
}
.fcon.tag:after {
  background-position: -240px -400px;
}
.fcon.speaker:after {
  background-position: -320px -400px;
}
.fcon.music:after {
  background-position: -400px -400px;
}
.fcon.buoy:after {
  background-position: -480px -400px;
}
.fcon.studiofour:after {
  background-position: -560px -400px;
}
/******************************************************************************************/
/* Responsive CSS
/******************************************************************************************/
/******************************************************************************************/
/* Responsive CSS - iPad
/******************************************************************************************/
/******************************************************************************************/
/* Responsive CSS - iPhone
/******************************************************************************************/
